html{
  /background-color: #3491ba;
  text-align: center;
  background:#3491ba url(../images/website-background-10.jpg) top center no-repeat fixed;
  background-size: cover;
  background-position:
}
body{
  font-family: helvetica,arial,sans-serif;
  font-size: 87%;

}

header{

  height: 800px;
  width: 100%;
  z-index = 5;
  background: rgba(200,0,0,0.6);
  position: fixed;
  margin-top: -10px;
  margin-left: -10px;
  border-bottom: 2px rgba(250,250,250,0.3);

  border-style:ridge;
  transition: all 0.3s;



}

header h1, header p{
  letter-spacing: 1px;
  margin: 0;


}

header h1{
  font-family: "Kunstler Script";
  font-size: 400%

}

.topwrapper{
  height: 100px;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%


}
.pagewrapper{
  width: 100%;
  height: 1000px;
}
.contentarea{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

/*navigation*/
.site-nav ul{
  margin: 0;
  padding: 20px;
  box-sizing:border-box;




}

.site-nav li{

  list-style: none;
  margin: 0 5px;


}

.site-nav a{
  text-decoration: none;
  color:#0c6666;
}

}

.mobile-nav{
  align-items: center;
  width: 30px;
  height: 30px;
  position: relative;

  z-index:  5;

}

.mobile-nav{
  width: 40px;
  height: 40px;
  position: relative;
  float: right;
  padding-right: 20px;



}
.mobile-nav .one{
  position: absolute;
  width: 29px;
  height: 4px;
  background-color: #000;
  top: 50%;
  transition-duration: .3s;

}

.mobile-nav .two{
  position: absolute;
  width: 29px;
  height: 4px;
  top: 25%;
  background-color: #000;
  transition-duration: .3s
}

.mobile-nav .three{
  position: absolute;
  width: 29px;
  height: 4px;
  top: 75%;
  background-color: #000;
  transition-duration: .3s
}

.mobile-nav.visible .one{
  opacity: 0;
}

.mobile-nav.visible .two{
  transform: rotate(45deg) translateY(15px);

}

.mobile-nav.visible .three{
  transform: rotate(-45deg) translateY(-15px);

}


/*
.mobile-nav.visible span{
  transform: rotate(45deg)
}
*/
}

 /*end navigation*/


/**CLEARFIX METHOD COPY PASTE INTO ALL CODE WITH FLOATS*/
.group:before,
.group:after {
   content:"";
   display: table;
}
.group:after{
  clear:both;
}

.group{
  zoom:1;
}

/**CLEARFIX METHOD COPY PASTE INTO ALL CODE WITH FLOATS*/
